.Home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  align-items: center;
  text-align: center;
  width: 100%;
  padding-top: 120px;
  padding-bottom: 10px;
  font-family: "Helvetica";
}

.Home-container h1 {
  max-width: 680px;
  margin: 0 auto;
  font-size: 60px;
  font-weight: 600;
  line-height: 70px;
}
.Home-container h3 {
  max-width: 740px;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 400;
  padding-top: 30px;
}
/* .Home-container h4 {
  max-width: 890px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 18px;
  padding-top: 30px;
} */
